@using ChessADT.Models;
@model Rook

<h2>Drag and Drop Rook</h2>

@Html.ActionLink("Return to Index", "Index", "ChessBoard", null, new { @class = "btn btn-primary", @style = "margin : 5px" })

<script>

    function drop(ev) {
        ev.preventDefault();
        myDrop(ev, "@Model.Name");
    }

    function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
    }

    createDivChessBoard();

    var newImg = document.createElement("img");
    newImg.setAttribute("id", "Rook");
    newImg.setAttribute("class", "pieceImg");
    newImg.setAttribute("src", "/Resources/6.png");
    newImg.setAttribute("draggable", "true");
    newImg.setAttribute("ondragstart", "drag(event)");
    var startDiv = @Model.Position;
    startDiv.appendChild(newImg);

    placePice(@Model.Position, "@Model.Name");
</script>

